Django==2.1.7
psycopg2
beautifulsoup4==4.6.0
boto
boto3
datadog==0.21.0
django-storages
djangorestframework
django-pure-pagination
django-localflavor
-e git+https://github.com/newsdev/fec2json@5bf66570c248e994086c256b9abc49abc16f2b8c#egg=fec2json
lxml==4.2.1
requests

