Django==2.2.24
psycopg2
beautifulsoup4==4.6.0
boto
boto3
datadog==0.21.0
django-storages
djangorestframework
django-pure-pagination
django-localflavor
-e git+https://github.com/newsdev/fec2json@2312bfb088e42bf969fd332e0ecb62162f198228#egg=fec2json
lxml==4.2.1
requests

