Django==2.1.2
psycopg2
beautifulsoup4==4.6.0
boto
boto3
datadog==0.21.0
django-storages
djangorestframework
django-pure-pagination
django-localflavor
-e git+https://github.com/newsdev/fec2json.git@93bbced97dfffb00dc70a40a440aa5173789bb89#egg=fec2json
lxml==4.2.1
requests

