{% extends 'base.html' %}
{% load humanize %}


{% block content %}

<h2> Newest Filings </h2>
<table class="table">
    <tr>
        <th> Committee </th>
        <th> Filing Type </th>
        <th> Import time </th>
        <th> Receipts </th>
        <th> Disbursements </th>
        <th> Cash </th>
        <th> IEs </th>
    </tr>
    {% for filing in new_filings %}
    <tr>
        <td> {{filing.committee_name}} </td>
        <td> <a href="{{filing.url}}">{{filing.form}}</a> {% if filing.amends_filing %} (AMENDMENT) {% endif %} </td>
        <td> {{filing.created}} </td>
        <td> <a href="{%url 'contributions'%}?filing_id={{filing.filing_id}}">${{filing.period_total_receipts|floatformat:2|intcomma}}</a> </td>
        <td> <a href="{%url 'expenditures'%}?filing_id={{filing.filing_id}}">${{filing.period_total_disbursements|floatformat:2|intcomma}}</a> </td>
        <td> ${{filing.cash_on_hand_close_of_period|floatformat:2|intcomma}} </td>
        <td> <a href="{%url 'ies'%}?filing_id={{filing.filing_id}}">${{filing.period_independent_expenditures|floatformat:2|intcomma}}</a> </td>
    </tr>
    {% endfor %}
</table>
        

{% endblock %}