{% extends 'base.html' %}
{% load humanize %}


{% block content %}

<h2> Top Donors </h2>
<table class="table">
    <tr>
        <th> Name </th>
        <th> Employer </th>
        <th> Contributions total </th>

    </tr>
    {% for result in results %}
    <tr>
        <td> <a href="{%url 'donor_details' result.id %}">{{result.nyt_name}}</a> </td>
        <td> {{result.nyt_employer}} </td>
        <td> {{result.contribution_total}} </td>
    </tr>
    {% endfor %}
</table>

{% include 'pagination.html' %}

        

{% endblock %}