{% extends '2018/base.html' %}
{% load humanize %}
{% load admin_urls %}


{% block content %}

<h2> Search for independent expenditures </h2>
<div class="row">
<form action="/2018/ies/" method="get">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</div>


<div class="row">
{% if results %}
<div class="page-header row">
  <div class="header-title">
    {% if results_sum %}
    <h2> Independent Expenditures total: ${{results_sum.expenditure_amount__sum|floatformat:2|intcomma}} </h2>
    This total includes only itemized expenditures.
    {% endif %} 
    <div class="text-right">
        <a href="{{csv_url}}">Download as CSV</a>
    </div>

    </div>
</div>
  <table class="table table-bordered table-striped">
    <tr>
        <th> Committee </th>
        <th> Recipient name </th>
        <th> Address </th>
        <th> Purpose </th>
        <th> Candidate </th>
        <th> Race </th>
        {% if nyt_district %} <th> Cleaned district </th> {% endif %}
        <th> Support/Oppose</th>
        <th> Amount </th>
        <th> Date </th>
        <th> Form type</th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{{result.committee_name}}</td>
        <td>{{result.payee_name}}</td>
        <td>{{result.address}}</td>
        <td>{{result.expenditure_purpose_descrip}}</td>
        <td>{{result.candidate_name}}</td>
        <td>{{result.district}}</td>
        {% if nyt_district %} <td> {{result.nyt_district}} (<a href="{% url opts|admin_urlname:'change' result.id%}">edit</a>) </td> {% endif %}
        <td>{{result.support}} </td>
        <td>${{result.expenditure_amount|floatformat:2|intcomma}}</td>
        <td>{{result.expenditure_date_formatted|date:"SHORT_DATE_FORMAT"}}</td>
        <td>{{result.filing_type}}</td>
    </tr>
  {% endfor %}
</table>
</div>

{% include 'pagination.html' %}

{% endif %}


{% endblock %}