{% extends '2018/base.html' %}
{% load humanize %}


{% block content %}

<h2> Search for inaugural contributions </h2>
<div class="row">
<form action="/2018/inaugural/" method="get">
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</div>


<div class="row">
{% if results %}
<div class="page-header row">
  <div class="header-title">

    Inaugural donations are unlimited and may be made by companies.

    </div>
</div>
  <table class="table table-bordered table-striped">
    <tr>
        <th> Name </th>
        <th> Address </th>
        <th> City </th>
        <th> State </th>
        <th> Zip </th>
        <th> Date </th>
        <th> Amount </th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{{result.name}}</td>
        <td>{{result.address}}</td>
        <td>{{result.city}}</td>
        <td>{{result.state}}</td>
        <td>{{result.zipcode}}</td>
        <td>{{result.date}}</td>
        <td>${{result.amount|floatformat:2|intcomma}}</td>
    </tr>
  {% endfor %}
</table>
</div>

{% include 'pagination.html' %}

{% endif %}


{% endblock %}