{% extends '2018/base.html' %}
{% load humanize %}


{% block content %}

<h2> 2018 campaign finance </h2>

<p> <a href="{%url '2018:filings'%}">Filings</a> </p>
<p> <a href="{%url '2018:contributions'%}">Contributions</a> </p>
<p> <a href="{%url '2018:expenditures'%}">Expenditures</a> </p>
<p> <a href="{%url '2018:ies'%}">Independent Expenditures</a> </p>
<p> <a href="{%url '2018:races'%}">Races</a> </p>
<p> <a href="{%url '2018:top_donors'%}">Top Donors</a> </p>

<h3> Admin </h3>
<p> <a href="{% url '2018:filing_status' 'failed'%}">Filings that failed to import</a></p>
{% endblock %}