{% extends '2018/base.html' %}
{% load humanize %}
{% load admin_urls %}


{% block content %}

<h2> Top Donors </h2>
<h5> Includes only contributions that have been manually matched to a donor. Before using these numbers please contact {{contact}}</h5>
<table class="table">
    <tr>
        <th> Name </th>
        <th> Employer </th>
        <th> Contributions total </th>
        <th></th>

    </tr>
    {% for result in results %}
    <tr>
        <td> <a href="{%url 'donor:donor_details' result.id %}">{{result.nyt_name}}</a> </td>
        <td> {{result.nyt_employer}} </td>
        <td>
        {%if result.contribution_total_2018 > 0 %}
             ${{result.contribution_total_2018|floatformat:2|intcomma}}
        {%else%}
            No matched contributions
        {%endif%}
        </td>
        <td> <a href="{% url opts|admin_urlname:'change' result.id%}">Edit donor</a></td>
    </tr>
    {% endfor %}
</table>

{% include 'pagination.html' %}

        

{% endblock %}